<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Packrat: Reproducible package management for R</title>

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/pygment_trac.css">
    <script src="javascripts/scale.fix.js"></script>
    <script src="javascripts/codehighlight.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{page.title}}</h1>
        {% if page.url != '/index.html' %}
          <p class="homelink"><a href="./">&lt; Return to homepage</a></p>
        {% else %}
          <p>{{page.subtitle}}</p>
        {% endif %}
        <p class="view"><a href="https://github.com/rstudio/packrat">View the Project on GitHub <small>rstudio/packrat</small></a></p>
        <!--
        <ul>
          <li><a href="https://github.com/rstudio/packrat/zipball/master">Download <strong>ZIP File</strong></a></li>
          <li><a href="https://github.com/rstudio/packrat/tarball/master">Download <strong>TAR Ball</strong></a></li>
          <li><a href="https://github.com/rstudio/packrat">View On <strong>GitHub</strong></a></li>
        </ul>
        -->
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <p>&copy; 2013-2014 RStudio, Inc.</p>
      <p>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></p>
    </footer>
    <!--[if !IE]><script>fixScale(document);</script><![endif]-->
              <script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-20375833-3', 'auto', {'allowLinker': true});
  ga('require', 'linker');
  ga('linker:autoLink', ['rstudio.com', 'rstudio.github.io', 'rviews.rstudio.com', 'community.rstudio.com', 'rpubs.rstudio.com', 'environments.rstudio.com', 'rstudio.org', 'dailies.rstudio.com', 'pages.rstudio.com', 'db.rstudio.com', 'solutions.rstudio.com', 'docs.rstudio.com', 'spark.rstudio.com', 'shiny.rstudio.com', 'education.rstudio.com', 'rstudio.cloud', 'shinyapps.io', 'teamadmin.rstudio.com', 'blog.rstudio.com', 'support.rstudio.com'] );
  ga('send', 'pageview');
          </script>

  </body>
</html>
